.preview * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.preview {
  background: #93bbea;
  position: relative;
  padding: 40px 0 54px 0;
  border-radius: 40px;
  overflow: hidden;
  margin: 0 auto 82px auto;
}
.preview__hand-picture {
}
@media (max-width: 768px) {
  .preview {
    padding: 40px 10px 54px 10px;
    margin: 0 auto 22px auto;
  }
}
.preview__hand-picture-image {
  position: absolute;
  z-index: 10;
  right: -85px;
  bottom: -103px;
}

@media (max-width: 768px) {
  .preview__hand-picture-image {
    width: 200px;
    height: auto;
    right: -90px;
    bottom: -70px;
  }
}

.preview__tg-picture {
}

.preview__tg-picture-image {
  position: absolute;
  z-index: 10;
  left: -7px;
}
@media (max-width: 768px) {
  .preview__tg-picture-image {
    width: 200px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.preview__content-container {
  position: relative;
  z-index: 20;
  width: min(100%, 664px);
  margin: 0 auto;
}
.preview__title {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 0 0 4px 0;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .preview__title {
    margin: 0 0 14px 0;

    font-size: 22px;
  }
}

.preview__subtitle {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin: 0 auto 40px auto;
  width: min(100%, 535px);
}

@media (max-width: 768px) {
  .preview__subtitle {
    font-size: 16px;
  }
}

.preview__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .preview__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .preview__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.preview__list-item {
}

@media (max-width: 768px) {
  .preview__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.preview__list-item-link,
.preview__list-item-link:active,
.preview__list-item-link:focus,
.preview__list-item-link:focus-visible {
  text-decoration: none;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  color: #1a1a1a;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  width: 160px;
  height: 48px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.preview__list-item-link:hover {
  background: #36ba5f;
  color: #fff;
}

.preview__list-item-link:hover .preview__list-item-link-svg-path {
  fill: #fff;
}

.preview__list-item-link-svg {
}
.preview__list-item-link-svg-path {
  -webkit-transition: fill 0.5s ease-in-out;
  -o-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}
.preview__list-item-link-text {
}
